<a href="#">
  <div class="row g-0 btnarrow5">  
    <div class="col">
      <h3>Q.   <%= question.body %></h3>
        <% question.choices.each do |choice| %>
            <div class="d-grid pb-2 m-4">
              <%= button_to judge_quiz_path(choice.id),class:"btn btn-lg btn-outline-secondary" ,method: :get do%>
                <%= choice.content %>
              <% end %>
            </div>
        <% end %>
        <h4>答え</h4>
        <%= question.choices.find_by(is_answer: true)%>
    </div>
  </div>
</a>