
            <div class="d-grid pb-2 m-4">
              <%= button_to judge_quiz_path(choice.id),class:"btn btn-lg btn-outline-secondary" ,method: :get do%>
                <%= choice.content %>
              <% end %>
            </div>