
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
  <h4><%= @categories.name %></h4>
  <% breadcrumb :manuals_path %>
    <!-- 各カテゴリー内 マニュアル一覧 -->
      <div class="row row-cols-1 mb-3">
        <ul class="fusen">
          <% @categories.manuals.each do |manual| %>
          <li>
            <%= link_to manual_path(manual) do %>
              <div class="row g-0 ">  
                <div class="col">
                  <%= manual.title %>
                </div>
              </div>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    <!-- /掲示板一覧 -->
      </div></div></div>