<% content_for(:title, t('.title')) %>

<% breadcrumb :new_admin_quiz %>
<div class="col-md-12">
<div class="card card-primary card-outline">
    <div class="card-header">
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <i class="bi bi-calendar me-2"></i>
          <spanクイズ作成</span>
        </div>
        <div class="card-body">
          <%= render 'form', quiz: @quiz %>
        </div>
      </div>
    </div>
  </div>
</div>
