<div id="fixed-footer-menu">
    <ul>
      <li><%= link_to categories_path do%><i class="fas fa-th-large footer-icon"></i><br>
        <% end %></li>
      <li><%= link_to manuals_path do %><i class="fas fa-search footer-icon"></i><br>
        <% end %></li>
      <li><%= link_to bookmarks_manuals_path do%><i class="fas fa-bookmark footer-icon"></i><br>
        <% end %></li>
      <li><a href="./"><i class="fas fa-user-circle footer-icon"></i><br>
        </a></li>
    </ul>
  </div>