<div class="tooltip-004" ontouchstart="">
    <div><i class="far fa-lightbulb"></i></div>
    <% if !@my_comment.nil? %>
    <span>
        <%= @my_comment.comment_content%>
    </span>
    <% end %>
</div>