<div class="col-md-12">
<!-- 各カテゴリー内 マニュアル一覧 -->
<div class="row row-cols-1 mb-3">
    <div class="row g-0 btnarrow5">  
      <div class="col-11">
        <p>No Result!</p>
      </div>
      <div class="col-1">
        <i class="fa fa-ghost"></i>
      </div>
    </div>
</div>
<!-- /掲示板一覧 -->
</div>