<% content_for(:title, t('.title')) %>

<% breadcrumb :manuals_path %>
    <!-- 掲示板一覧 -->
<div class="container">
  <div class="section-block-grey">
    <div class="container">
      <h3>ブックマーク一覧</h3>
      <div class="row mt-60">
      <ul class="fusen">
        <% if @bookmark_manuals.present? %>
        <%= render partial: "manual", collection: @bookmark_manuals %>
        <% else %>
        <%= render 'noresult' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>