<% content_for(:title, t('.title')) %>
  <h1><%= t('.title') %></h1>
<% breadcrumb :manuals_path %>
    <!-- 掲示板一覧 -->
      <div class="row row-cols-1 mb-3">
        <% if @manuals.present? %>
          <%= render @manuals %>
        <% else %>
          <%= t('.no_result') %>
        <% end %>