@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
* { margin: 0; padding: 0; box-sizing: border-box; }
 
/* body */
body {
	 color: #5e5e5e;
	 font: 400 87.5%/1.2em 'Open Sans', sans-serif;
	 font-size: 20px;
	 line-height: normal;
	 background: #fafafa;
}
#main {
	background: #fafafa;
	padding-top: 80px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #5e5e5e;
	 font: 400 87.5%/1.2em 'Open Sans', sans-serif;
}

h1 {
	text-align: left;
}

// リセット
button {
  border: none;
  outline: none;
  background: transparent;
	color: #5e5e5e;
}
h3 {
	font-size: 131%;
	margin-bottom: .7em;
}

/* z-index */
.footer {
  background: #999;
  color: white;
  padding: 3rem 0;
  text-align: center;
}
// ヘッダー
#global-head {
	position: fixed;
	color: #f3cc3c;
	width: 100%;
	padding: 10px 30px;
	background: #fff;
	display: -webkit-flex;
	display: flex;
	z-index: 999;
}

// ヘッダー
.header-3 {
	position: fixed;
	padding: 10px 30px;
  box-sizing: border-box;
  width: 100%;
	color: #f3cc3c;
	z-index: 999;
	background: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
}


.header-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.2em;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
	text-align: center;
}

.header-menu {
  color: #999;
	text-align:center;
}

.header-on {
  font-weight: bold;
  color: #fff;
  background: #00b5ad;
  border: 1px #00b5ad solid;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .header-post {
    display: none;
  }
}
// サイドバー

// マニュアルindex @manualのデザイン
.box-design1 {
	margin: 20px 0 auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
// マニュアル show
.sentence_wrapper{
	padding: 5px;
}
.sentence_box {
	// background-color: #fff;
	margin-bottom: 60px;
}
// カテゴリー一覧
.box{
	padding:60px 0px;
}
.box-part{
margin: 0px auto;
padding: 60px 20px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
background: #fff;
}
.text{
	margin:20px 0px;
}

.fa{
	 color:#fff;
}
// 付箋ふう カテゴリー>マニュアル一覧
// .fusen{
//   border-bottom: solid 5px orange;
// 	text-align: left;
// }
h1.fusen {
  // position: relative;
  // padding-left: 70px;
  color: orange;
	text-align: left;
}

form {
	padding-top: 0px;
}

// h1.fusen:before {
//   position: absolute;
//   font-family: "Font Awesome 5 Free";
//   font-weight: 900;
//   content: "\f058";
//   color: orange;
//   left: 0;
//   text-align: center;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

// dl dd横並び
dl {
  margin: 0px;
  // border-bottom: 2pt dashed #ccc;
  padding: 5px;
  display: flex;
}
dt {
  font-size: 1.4rem;
  width: 7%;
	color: #010101;
}
dd {
  width: 90%;
  font-size: 1.4rem;
  color: #010101;
}

.description dl {
  margin: 5px 0 10px;
}
.description dt {
  width: 30%;
}
.description dd {
  width: 70%;
}


.sentence_wrapper p {
	font-size: 1.2rem;
	margin-top: 10px;
}


// お試しカテゴリーindex
.mt-60{
	margin-top:60px;
}

.section-block-grey {
	padding: 5% 0px 90px 0px;
	background-color: #f9f9f9;
}

.serv-section-2 {
	position: relative;
	border: 1px solid #eee;
	background: #fff;
	box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
	border-radius: 5px;
	overflow: hidden;
	padding: 30px;
}

// .serv-section-2:before {
// 	position: absolute;
// 	top: 0;
// 	right: 0px;
// 	z-index: 0;
// 	content: " ";
// 	width: 120px;
// 	height: 120px;
// 	background: #f5f5f5;
// 	border-bottom-left-radius: 136px;
// 	transition: all 0.4s ease-in-out;
// 	-webkit-transition: all 0.4s ease-in-out;
// }

.serv-section-2-icon {
	position: absolute;
	top: 18px;
	right: 22px;
	max-width: 100px;
	z-index: 1;
	text-align: center;
}

.serv-section-2-icon i {
	color:  rgb(238, 238, 238);
	font-size: 48px;
	line-height: 65px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
	position: relative;
}

.serv-section-2 h4 {
	color: #333;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}

.serv-section-2 h5 {
	color: #333;
	font-size: 17px;
	font-weight: 400;
	line-height: 1;
	margin-top: 5px;
}

.section-heading-line-left {
	content: '';
	display: block;
	width: 100px;
	height: 3px;
	background: orange;
	border-radius: 25%;
	margin-top: 15px;
	margin-bottom: 5px;
}

.serv-section-2 p {
	margin-top: 25px;
	padding-right: 50px;
}

.serv-section-2:hover .serv-section-2-icon i {
	color: orange;
}

.serv-section-2:hover:before {
	background: orange;
}
// category manual indexタイトル
.serv-section-3,.serv-section-4 {
	position: relative;
	border: 1px solid #eee;
	background: #fff;
	box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
	border-radius: 5px;
	overflow: hidden;
	padding: 30px 20px;
	color: #fff;
}

.serv-section-3-icon {
	position: absolute;
	top: 18px;
	right: 22px;
	max-width: 100px;
	z-index: 1;
	text-align: center;
}

.serv-section-3-icon i {
	color: #eeeeee;
	font-size: 48px;
	line-height: 65px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.serv-section-desc {
	position: relative;
}

.serv-section-3 h4,.serv-section-4 h4 {
	color: #333;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.5;
}

.serv-section-3 h5 {
	color: #333;
	font-size: 17px;
	font-weight: 400;
	line-height: 1;
	margin-top: 5px;
}

.section-heading-line-left {
	content: '';
	display: block;
	width: 100px;
	height: 3px;
	background: orange;
	border-radius: 25%;
	margin-top: 15px;
	margin-bottom: 5px;
}

.serv-section-3 p{
	margin-top: 25px;
	padding-right: 50px;
}
.serv-section-4 i {
	color: #333;
}

// お試しmanual title
.btnarrow5{
	position: relative;
	border: 1px solid #eee;
	background: #fff;
	box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
	border-radius: 5px;
	overflow: hidden;
	padding: 30px;
	padding-left: 30px;
	color: #333;
}

.btnarrow5:hover{
background:#fafafa;
}
.btnarrow5 i{
	color: #333;
}

/* メニューをページ下部に固定 */
#fixed-footer-menu {
  position: fixed;
  width: 100%;
  bottom: 0px;
  opacity: 1;
  z-index: 5000;
}

/* メニューを横並びにする */
#fixed-footer-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #fff;
}

/* メニューの要素 */
#fixed-footer-menu li {
  justify-content: center;
  align-items: center;
  width: 25%; /* 要素が5つの場合（100/5） */
  padding: 0;
  margin: 0;
}

/* メニューのボタン */
#fixed-footer-menu li a {
  color: #333;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 0px 15px 0px;
  font-size: 8px;
  text-decoration: none;
}

/* メニュータイトル */
#fixed-footer-menu li p {
  font-size: 8px; /* メニュータイトルのフォントサイズ */
}

/* アイコンのサイズを調整 */
.footer-icon {
  font-size: 25px;
}
// pcとspの切り替え
.for-pc { display:block; }
.for-sp { display:none; }
@media screen and (max-width: 750px) {
	.for-pc { display:none; }
  .for-sp { display:block; }
}
ul.header-dropmenu {
	font-size: 0.5rem;
  list-style: none;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 0px;
  display: table;
  table-layout: fixed;
}
ul.header-dropmenu > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
ul.header-dropmenu li a,ul.header-dropmenu li form{
  display: block;
  line-height: 40px;
  text-decoration: none;
  font-size: 14px;
	padding: 0px 10px;
}
ul.header-dropmenu li ul {
  visibility: hidden;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  border-top: none;
}
ul.header-dropmenu li:hover ul {
  visibility: visible;
}
ul.header-dropmenu li ul li {
  background: #fff;
  transition: all .2s ease;
}
ul.header-dropmenu > li:hover {
  background: #fff;
  border-bottom: none;
}
ul.header-dropmenu li:hover ul li:hover {
  background: #f8f8f8;
}

// コメント機能
.modal-2__wrap input[type="radio"] ,.modal-3__wrap input[type="radio"] {
	display: none;
}

.modal-2__open-label,.modal-3__open-label,
.modal-2__close-label,.modal-3__close-label {
	cursor: pointer;
}

.modal-2__open-label,.modal-3__open-label {
	display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 50px;
    height: 50px;
		outline: 1px solid #000066;
    border-radius: 100%;
    cursor: pointer;
    transition: opacity .3s ease;
    z-index: 5;
		padding: 0px;
}

label.modal-2__open-label,label.modal-3__open-label{
	padding: 0px;
}

.modal-2__open-label:hover,.modal-3__open-label:hover {
	background-color: #fff;
	color: orange;
	outline: 1px solid orange;
}

.modal-2,.modal-3 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

.modal-2__open-input:checked + label + input + .modal-2 {
	display: block;
	animation: modal-2-animation .6s;
}
.modal-3__open-input:checked + label + input + .modal-3 {
	display: block;
	animation: modal-2-animation .6s;
}

.modal-2__content-wrap,.modal-3__content-wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 650px;
	background-color: #fefefe;
	z-index: 2;
	border-radius: 5px;
}

.modal-2__close-label,.modal-3__close-label {
	background-color: #777;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 20px;
	width: 36px;
	height: 36px;
	line-height: 1.6;
	text-align: center;
	display: table-cell;
	position: fixed;
	top: -15px;
	right: -2%;
	z-index: 99999;
	font-size: 1.1em;
	padding: 0px;
}

.modal-2__content,.modal-3__content {
	max-height: 50vh;
	overflow-y: auto;
	padding: 39px 45px 40px;
}

.modal-2__background,.modal-3__background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .45);
	z-index: 1;
}

@keyframes modal-2-animation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}
@keyframes modal-3-animation {
	0% {
			opacity: 0;
	}
	100% {
			opacity: 1;
	}
}
@media only screen and (max-width: 520px) {
	.modal-2__open-label,.modal-3__open-label {
			max-width: 90%;
			padding: .94em 2.1em .94em 2.6em;
	}

	.modal-2__close-label,.modal-3__close-label {
			top: -17px;
			right: -4%;
	}

	.modal-2__content-wrap,.modal-3__content-wrap {
			width: 90vw;
	}

	.modal-2__content,.modal-3__content {
			padding: 33px 21px 35px;
			max-width: 100%;
	}
}
.FlexTextarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.8;
}

.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  min-height: 120px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
}

.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

.FlexTextarea__textarea:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}
// comment_show
.tooltip-004 {
	display: inline-block;
	display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 180px;
    width: 50px;
    height: 50px;
		outline: 1px solid #000066;
    border-radius: 100%;
    cursor: pointer;
    transition: opacity .3s ease;
    z-index: 5;
		padding: 0px;
}

.tooltip-004 > div {
	cursor: pointer;
}

.tooltip-004 > span {
	display: flex;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	padding: .5em 1em;
	border-radius: 3px;
	background-color: #00b5ad;
	color: #fff;
	font-size: .7em;
	white-space: normal;
	transition: opacity .3s;
	width: 300px;
}

.tooltip-004 > span::before {
	position: absolute;
	right: -6px;
	width: 6px;
	height: 9px;
	background-color: inherit;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
	content: '';
}

.tooltip-004:hover > span {
	visibility: visible;
	opacity: 1;
}
@media (hover: none) {
	.tooltip-004:active > span {
		visibility: visible;
		opacity: 1;
	}
	}