
  <div class="col">
    <%= link_to category_manuals_path(category) do %>
      <div class="box-part text-center">
        <div class="title">
          <h4><%= category.name %></h4>
        </div>
     </div>
    <% end %>
  </div>