
<div class="col-md-4 col-sm-12 col-12 g-3">
<%= link_to category_manuals_path(category) do %>
<div class="serv-section-2">
    <div class="serv-section-2-icon"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    <div class="serv-section-desc">
        <h4><%= category.name %></h4>
        <h5>Show More</h5> </div>
    <div class="section-heading-line-left"></div>
</div>
<% end %>
</div>