<% content_for(:title, t('.title')) %>
  
<% breadcrumb :categories_path, @categories %>
    <!-- 掲示板一覧 -->
    <div class="container text-center">
      <div class="row row-cols-2 row-cols-md-3 g-4 mb-3">
        <% if @categories.present? %>
          <%= render @categories %>
        <% else %>
          <%= t('.no_result') %>
        <% end %>
      </div>
    </div>