<% content_for(:title, t('.title')) %>
  <h1><%= t('.title') %></h1>
    <!-- 掲示板一覧 -->
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <% if @categories.present? %>
          <%= render @categories %>
        <% else %>
          <%= t('.no_result') %>
        <% end %>
      </div>
    </div>