<p>パスワード変更手続きのお知らせ <%= @resource.email %>!</p>

<p>パスワード再設定のリクエストを承りましたので、以下の手順に従って再設定してください。</p>

<p>以下のURLをクリックして、新しいパスワードの再設定をお願いいたします。<br>
*セキュリティ保持のため有宇高期限が設けられております。申請後、一定時間を経過すると期限切れとなりますので、ご注意ください。
</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
