<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-edit"></i>
                  レイアウト
                </h3>
              </div>
              <div class="card-body pad table-responsive">
                <p>フォームの幅 class <code>.form</code></p>
                <%= render 'form' %>
                <%= render 'horizon' %>
                <%= render 'focus' %>
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- ./row -->
      </div>